.body-content {
    margin-top: 80px;
}

td, th {
    padding: 20px;
}

tr:nth-child(odd) {
    background-color: #e4e4e4;
}

table.job-listing {
    margin: 30px auto;
    border: 1px solid blue;
    width: 80%;


}

table.job-listing td:first-child {
    font-weight: bold;
}

table.job-listing td:last-child {
    width: 80%;
}

label {
    margin-right: 20px;
}